.lawyers{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.lawyer{
    width: 400px;
    box-shadow: rgba(100,100,111,0.2) 0px, 7px, 29px, 0px;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
}

.lawyer:hover{
    transform:scale(1.02);
}

.lawyer-image{
    width: 90%;
    height: 350px;
    object-fit: cover;
}
.img-content{
    padding: 10px;
}
.img-content h2{
    font-size: 20px;
    color: #000f38;
}

.img-content p{
    font-size: 14px;
    color: #676767;
}

