.footer{
    margin: 5px auto;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 40px 0;
}

.footer ul li{
    display: inline-block;
    justify-content: space-between;
    margin: 20px;
}

.terms{
   
    display: inline-block;
    margin-left: 20px ;

}